* {
  box-sizing: border-box;
}
body {
  background-color: #808B96;
  font-family: sans-serif;
}
header {
  background-size: 100%;
  height: auto;
  width: 90%;
  margin: 0 auto;
  border:0px;
  border-style:solid;
}

section{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

article{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  margin-bottom: 10px;
}

/*Ahora viene el Section*/



/***********************
 * Div de laderecha
 ***********************/
div.buscador {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

}

/***********************
 * Estructura del Buscador
 ***********************/
 div.buscadorWrapper {
   float: left;
   background-color: blue;
   text-align: center;
 	width: 90%;
 	max-width: 94%;
 	height: 2.5em;
 	overflow: hidden;
 	background: transparent;
 	margin: 0 auto;
 	position: static;
  top: 0px;
 }

 div.compra {
   width: 6%;
   float: left;

 }
 .compra a img{
   float:right;
  margin-right: -5%;
   border-radius: 80%;
   height: 2.5em;
 }

 .buscadorForm {
 text-align: left;
 width:79%;
 margin: 0 auto;
 position: fixed;
 top: 0px;
 float:left;
}


 .buscadorinputwrapper {
 /*	padding: 0 36px 0 0;*/ /* Right padding for submit button width */
 	overflow: hidden;
  width: 100%;
 }

 .buscadorInput {
   width: 90%;
 }

 /***********************
  * Configuración de Estilos *
  ***********************/
 /*.buscador {
   padding: 0 25px 0 200px;
 }*/

 .buscadorInput {
  -webkit-box-sizing: content-box;
 -moz-box-sizing: content-box;
 box-sizing: content-box;
   height: auto;
   padding: 0 4% 0px;
 border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
 border-width: 3px;
  margin-top: 10px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
 font-size: x-large;
 /*-webkit-appearance: none;*/
 /*-moz-appearance: none;*/
}

.buscadorSubmit {
 position: absolute;
right: 3%;
top: 6%;
display: block;
width: auto%;
height: 100%;
 padding: 0;
 padding-top:0.5%;
 border: none;
margin-top: autopx; /* margin-top + border-width */

background: transparent;
 color: #888;
 font-family: 'Helvetica', sans-serif;
 font-size:x-large ;
 line-height: normal;
}

.buscadorInput:focus {
  outline: none;
  border-color: #333;
}

.buscadorInput:focus.buscadorSubmit {
   color: #333;
}

.buscadorSubmit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
 color: #888;
}

input:-moz-placeholder {
  color: #888
}

/****************
 Acá Terminó la barra de busqueda
 ****************/
.cabecera {
  text-align: center;

}
.cabecera img {
  width: 22%;
}
h2.cabecera {
  text-align: center;
  color: #34495E;
  font-style: bold;
  font-size: xx-large;
}

/*Ver como armar el campo del precio*/

/*Arranca el section*/
div.divselec {
height: auto;
margin: 0 auto;
width: 100%;
  background-color: #566573;
  display: flex;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
}


input {
  width: auto;
  margin:0 auto;
}

select {
  width: 60%;
}

.ingreso {
  text-align: center;
}

div.filtros {
  text-align: center;
  width: 50%;
  height: auto;
  padding-left: 5%;
}
form.categoria{
width: 70%;
padding-top: 8%;
}
input {
  font-family: arial;
  padding-left: 2px;
}
form.precio{
width: 70%;
padding-top: 5%;
}
div.seleccion {
  width: 50%;
  height: auto;
  padding-bottom: 1%;
  padding-left: 5%;
}

.radioButton {
  font-family: arial;
}

/***********************
Arrancan los artículos
***********************/

div.imagen {
  width: 100%;
  text-align: center;
  position: relative;
}

div.imagen img {
  width: 90%;
}
a.ingreso {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.zoom {
  text-decoration: none;
  color: white;
  position: absolute;
  width: 30%;
  font-size: x-large;
  bottom: -7%;
  right: -2%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  transform: translate(-50%, -200%);
  border-radius:5%;
}

.datosProducto {
  /*overflow: hidden;*/
  border-style: solid;
  display: flex;
  flex-direction: row;
}
.descripcion {
  width: 75%;
  border-right-color: black;
  border-right-style: solid;
  /*float:left;*/
}

div.descripcion h2 {
  /*top: 0px;*/
  /*text-align: left;*/
  padding: 3px;
  /*position:relative;*/
  /*transform: translate(0%, -50%);*/
}


.valor {
  text-align: center;
font-family: sans-serif;
font-style: italic;
padding-left: 25%;
}

h4 {
  /* position:relative;
  transform: translate(2%, -40%);*/
  padding-left: 3%;
  height: 100%;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;

  }

  @media (min-width: 576px) {
    section{
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      /*margin: 0 auto;*/
    }

    article{
      width: 48%;
      /*display: flex;*/
      /*flex-wrap: nowrap;*/
      flex-direction: column;
      justify-content: space-between;
      background-color: aliceblue;
      margin-bottom: 10px;
    }
    .valor {
padding-left: 0%;
}

@media (min-width: 768px) {
  section{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin: 0 auto;*/
  }

  article{
    width: 30%;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    margin-bottom: 10px;
  }
  .valor {
padding-left: 0%;
}
form.categoria {
    padding-top: 6.5%;
}
