* {
    box-sizing: border-box;
}

body {
    font-family: "Monserrat", sans-serif!important;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}

/***********************
 * Barra superior
 ***********************/

header {
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 21;
}

.nav {
    background-color: #00a4ff;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 115px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    z-index: 20;
}

img.logo {
    width: 230px;
    height: 40px;
}

h2.cabecera {
    text-align: center;
    color: #34495E;
    font-style: bold;
    font-size: 12px;
}

.buscadorForm {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #00a4ff;
    padding: 10px;
    justify-content: end;
}
#logout-form{
    display: inline;
}
.logout{
    background-color: transparent;
    border:0;
    display: inline;
    color: white;
    cursor: pointer;
}
.buscadorInput {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 27px;
    padding: 0 4% 0px;
    border-color: #888;
    /* border-radius: 35px; */
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    width: 50%;
    min-width: 140px;
}

.buscadorInput:focus {
    outline: none;
    border-color: #333;
}

.buscadorInput:focus.buscadorSubmit {
    color: #333;
}

.buscadorSubmit:hover {
    color: #333;
    cursor: pointer;
}

.buscadorSubmit {
    display: block;
    width: 45px;
    padding: 0;
    border: none;
    background: white;
    color: #888;
    border: solid 1px #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: normal;
    /* border-radius: 20px; */
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 29px;
    margin-right: 10px;
}

a.carrito {
    height: 20%;
    /* width: 15%; */
}

img.carrito {
    /* float: right; */
    /* margin-right: -5%; */
    height: auto;
    border-radius: 80%;
    width: 30px;
    padding-left: 2px;
}

ul.login {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

ul.logout {
    list-style-type: none;
    display: flex;
    padding: 10px;
}

a.logeado {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

li.saludo {
    text-decoration: none;
    color: white;
    padding-right: 5px;
    border-right: white solid 1px;
    padding-right: 5px;
}

li.logout {
    padding-left: 5px;
}
.cart{
    display: inline;
    border-left: 1px solid white;
}
.cart a{
    padding-left: 10px;
}

div.logeado {
    text-align: center;
    padding-top: 1px;
}

a.registro {
    text-decoration: none;
    color: white;
    border-right: white solid 1px;
    padding-right: 5px;
}

a.ingreso {
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888
}


/****************
 barra de filtros
 ****************/

section.divselec {
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    border: 1px solid lightgray;
}

input {
    width: auto;
    padding-left: 2px;
}

.buttonOpciones {
    margin-top: 10px;
}

select {
    width: 110%;
    font-size: 15px;
    margin-right: 10px;
}
div.filtros {
    text-align: center;
    width: 50%;
    height: auto;
    padding-left: 5%;
}

form.categoria {
    /* width: 70%; */
    padding-top: 2%;
    display: flex;
}

form.precio {
    /* width: 70%; */
    padding-top: 5%;
    display: flex;
}

div.seleccion {
    width: 50%;
    height: auto;
    padding-bottom: 1%;
    padding-left: 3%;
}

span {
    font-size: 14px;
}

.radioButton {
    font-family: arial;
}


/***********************
Arrancan los artículos
***********************/


/* section {
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
} */

.section-articulos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding-top: 25px;
}

article {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 10px;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: #e7eaea;
}

.card:hover .comprar {
    opacity: 1;
}

.comprar {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.7);
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.img-container {
    position: relative;
}

div.imagen {
    width: 100%;
    position: relative;
    text-align: center;
}

div.imagen img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

a.zoom {
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    border-radius: 5%;
    color: white;
    border: 1px solid white;
    width: 50%;
    padding: 5px;
    border-radius: 18px;
}
a.zoom:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2)
}

.datosProducto {
    border: 1px lightgray solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
}

.descripcion {
    width: 75%;
}

div.descripcion h2 {
    padding: 3px;
}

div.descripcion p {
    text-align: left;
    font-size: 13px;
    padding: 3px;
}

.valor {
    color:#007bff;
}

h4.card-brand {
    padding-left: 0;
    color: #b50d0dd6;
}

footer {
    height: auto;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.footer {
    font-size: 11px;
    color: white;
}

.img-usuario {
    border-radius: 50%;
}

.fix-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding-left: 6px;
    padding-right: 6px;
}
.fluid-container {
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-xs-12 {
    width: 100%;
}
.sucursales {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spacer {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
}
.title-component {
    display: inline-block;
    color: #353535;
    font-size: 24px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-bottom: 3px solid #007bff;
    padding: 6px;
    width: auto;
    margin: 0 auto;
}
.line {
    border-top: 1px solid #ECE9E9;
    width: 100%;
    display: block;
}
.sucursal-container {
    overflow: hidden;
    position: relative;
}
.sucursal-map-container {
    float: left;
    width: 55%;
    height: 325px;
}
.sucursal-data-container {
    float: right;
    position: absolute;
    right: 0;
    top: 9%;
    width: 55%;
    display: flex;
    flex-direction: column;
}
.sucursal {
    padding-left: 15%;
    height: 90px;
    background-color: #F7F7F7;
    border-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.sucursal:first-child {
    border-bottom: 1px solid #E4E4E4;
    border-top: 0;
}

.sucursal:last-child {
    border-top: 1px solid #E4E4E4;
    border-bottom: o;
}
.selected {
    border-left: solid 3px #007bff;
    background-color: #E9E9E9;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-left ease-in-out .15s, background-color ease-in-out .15s;
    color: #007bff;
}
.sucursal:hover {
    border-left: solid 3px #007bff;
    background-color: #E9E9E9;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-left ease-in-out .15s, background-color ease-in-out .15s;
    color: #007bff;
}

.selected h2 {
    color: #007bff;
    transition: color ease-in-out .15s;
}

.sucursal-name {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top:10px;
    margin-bottom: 0px;
}

.sucursal-data {
    color: #5f5f5f;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 0;
}
.questions {
    min-height: 132px;
    background-color: #007bff;
    margin-top: 100px;
}

.questions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}

.question-img {
    height: 40px;
    float: left;
    margin-right: 10px;
    text-align: right!important;
}

.question-text-container {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left!important;
    float: left;
    width: 60%;
    line-height: 18px;
}

.question-text-title {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
}

.question-text {
    font-weight: 200;
    font-size: 13px;
    margin-bottom: 0;
}

.center-text {
    text-align: center;
}
.bottom {
    background-color: #F8F8F8;
    padding-top: 34px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.bottom-data {
    margin-top: 34px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}

.bottom-data p {
    margin-top: 5px;
    margin-bottom: 0;
}
.us-container {
    text-align: left;
    width: 285px;
}
.us-container ul{
    list-style: none;
    padding-left: 0px;
}
.us-link {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.footer-social {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-align: left;
}

.footer-social a {
    display: inline-block;
    width: 35px;
    height: 25px;
    padding-right: 10px;
}

.footer-social a:hover {
    filter: invert(50%);
}

.footer-social .it img {
    filter: invert(100%);
}

.footer-social .tw img {
    filter: invert(100%);
}

.footer-social .fb img {
    filter: invert(100%);
}
.margin-bottom {
    margin-bottom: 60px;
}
.center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.submit-mail {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: 0;
    height: 31px;
    max-width: 105px;
    width: 30%;
}
.question {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.img-afip {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.top-right {
    height: 100%;
    padding-top: 6px;
}
.top-right a{
    color: white;
    padding-right: 10px;
}

.top{
    height: 40px;
    background-color: #007bff;
    color: white;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    padding-left:10px;
    border-bottom: 1px solid #94bfecb8;
}
.search-container {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 310px;
    margin-left: 30px;
}
#searchForm{
    width:100%;
}
.search-container input[type="search"] {
    width: 80%;
    border: 1px solid #DADADA;
    border-right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 40px;
    padding: 5px 5px 5px 17px;
    margin-left: 0;
    background-color: #ffffff;
}
input.magnifier {
    padding: 10px 10px;
    border: 1px solid #DADADA;
    border-left: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
    width: 40px;
    height: 40px;
    margin-right: 0;
    background-color: #ffffff;
}
.category-title{
background-color: #f7f7f7;
padding: 10px;
color: #545b62;
}
.category-title h1{
margin: 0 auto;
text-align: center;
text-transform: uppercase;
}
/*DETALLE PRODUCTO*/
.product-container{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: nowrap;
border-bottom: solid 1px #cecece;
border-top: solid 1px #cecece;
padding-top: 32px;
padding-bottom: 40px;

}
.detail-container{
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 50px;
}
.product-img{
width: 47%;
margin: 0 auto;
}
.product-img img{
    width:100%;
    border-radius: 10px;
}
.product-text-container{
    width: 47%;
    border-left: solid 1px #cecece;
    padding-left: 15px;
}
.producto-title{
margin-bottom: 18px;
}
.product-price{
margin-top: 10px;
margin-bottom:20px;
color: #007bff;
}
.form-cart{
    margin-top: 10px;
}
.quantity-label{

}
.quantity{

}
.add-cart{
margin-top: 10px;
width: 100%;
background: #0062cc;
color: white;
font-size: 18px;
padding: 10px 35px;
border: 0;
transition: all 0.5s ease;
cursor: pointer;
}
.product-description{
    margin-top: 10px;
}
@media (min-width: 769px) {
    .col-sm-4 {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
    }
}

@media (max-width: 480px) {
    .article {
        width: 48%;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .valor {
        padding-left: 0%;
    }
    .sucursal-data-container {
        position: relative;
        top: 9%;
        width: 100%;
    }

}

@media (max-width:768px){
    .questions-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    .question {
        max-width: 285px;
        margin: 20px auto;
        height: 35px;
    }
    .bottom-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        height: auto;
    }
    .product-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .product-text-container {
        border-top: solid 1px #cecece;
        width: 90%;
        border-left: 0;
        padding-left: 0;
    }
    .product-img {
        width: 90%;
        margin-bottom: 20px;
    }
}